<a href="https://colab.research.google.com/github/Super-rookie-Py/PythonProgramming/blob/master/%EB%B0%95%EA%B1%B4%EC%9A%B0__05_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 제어문(Control Statement)
- keonwoo Park 2020/08/20



---

## 조건문(Conditional Statement)

### if 문

* if 문을 이용한 미세먼지 측정
  + 미세먼지 농도 pm
  + 35 초과는 미세먼지 농도 나쁨

In [ ]:
pm = 40
if pm > 35:
  print("미세먼지 농도: 나쁨")

미세먼지 농도: 나쁨

### if-else 문

* if-else 문을 이용한 미세먼지 측정
  + 미세먼지 농도 pm
  + 36 이상은 미세먼지 농도 나쁨
  + 35 이하는 미세먼지 농도 좋음

In [3]:
pm = 30
if pm >=36:
  print("미세먼지 농도: 나쁨")
else:
  print("미세먼지 농도: 좋음")

미세먼지 농도: 좋음

### if-elif-else 문

* if-elif-else 문을 이용한 미세먼지 측정
  + 미세먼지 농도 pm
  + 미세먼지 농도 0~15: 좋음
  + 미세먼지 농도 16~35: 보통
  + 미세먼지 농도 36~75: 나쁨
  + 미세먼지 농도 76~: 매우나쁨

In [4]:
pm = 40
if pm < 16:
  print("미세먼지 농도: 좋음")
elif pm < 36:
  print("미세먼지 농도: 보통")
elif pm < 76:
  print("미세먼지 농도: 나쁨")
else:
  print("미세먼지 농도: 매우 나쁨")

미세먼지 농도: 나쁨

### 중첩 if 문

* 중첩 if 문을 이용한 미세먼지 측정
  + 미세먼지 농도 pm
  + 미세먼지 농도 0~15: 좋음
  + 미세먼지 농도 16~35: 보통
  + 미세먼지 농도 36~75: 나쁨
  + 미세먼지 농도 76~: 매우나쁨

In [5]:
pm = 80
if pm <36:
  if pm < 16:
    print("미세먼지 농도: 좋음")
  else:
    print("미세먼지 농도: 보통")
else:
  if pm<76:
    print("미세먼지 농도: 나쁨")
  else:
    print("미세먼지 농도: 매우나쁨")

미세먼지 농도: 매우나쁨

### if-pass 문

* 조건문은 있지만 실행할 문장이 없는 경우, 오류가 발생하지 않도록 무시하고 넘어가는 기능

In [7]:
if 10 > 5:
  print(10)
else:
  pass

10

### if 조건 연산자

* 비교연산자: <, >, ==, !=, >=, <=

In [9]:
if 2 > 1:
  print(2)

if 3==3:
  print(3)

if 1 != 2:
  print(1)

2
3
1

* 논리연산자: and, or, not

In [13]:
rain = True
snow = True
sun = True

if rain and snow:
  print("진눈깨비")
if not sun:
  print("흐림")
else:
  print("맑음")

진눈깨비
맑음

* 멤버연산자: in, not in

In [14]:
list = ["One", "Two", "Three"]

if "One" in list:
  print("One")

if "Four" not in list:
  print("No")

One
No

* 식별연산자: is, is not

In [15]:
if "One" is "One":
  print("One")

if "One" is not 'Two':
  print("One is not Two")

One
One is not Two

### 조건부 표현식(Conditional Expression)

* 한 라인으로 조건식을 사용한 표현

In [18]:
score = 75
msg = "통과" if score >= 70 else "탈락"
print(msg)

통과

### [Lab] 학생 종류

* 8세 미만 "학생 아님"
* 14세 미만 "초등학생"
* 17세 미만 "중학생"
* 20세 미만 "고등학생"
* 26세 미만 "대학생"
* 그 외에 "학생 아님"

In [19]:
age = 24

if age < 8:
  print("학생 아님")
elif age < 14:
  print("초등학생")
elif age < 17:
  print("중학생")
elif age < 20:
  print("고등학생")
elif age < 26:
  print("대학생")
else:
  print("학생 아님")

대학생

### [Lab] 학점 계산

* 95점 이상 "A+"
* 90점 이상 "A"
* 85점 이상 "B+"
* 80점 이상 "B"
* 75점 이상 "C+"
* 70점 이상 "C"
* 65점 이상 "D+"
* 60점 이상 "D"
* 그 외 "F"

In [20]:
score = 95

if score >= 95:
  print("A+")
elif score >= 90:
  print("A")
elif score >= 85:
  print("B+")
elif score >= 80:
  print("B")
elif score >= 75:
  print("C+")
elif score >= 70:
  print("C")
elif score >= 65:
  print("D+")
elif score >= 60:
  print("D")
else:
  print("F")

A+



---

## 반복문(Repetitive Statement)

### while 문

* while 문 예제: 1부터 10까지 반복

In [23]:
i = 1
while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

* while 문 예제: 1부터 10까지 더하기

In [24]:
i = 1
sum_i = 0
while i <= 10:
  sum_i += i
  i += 1
print(sum_i)

55

### for 문

* 리스트 요소 반복

In [25]:
list = ["One", 'Two', 'Three']
for i in list:
  print(i)

One
Two
Three

* 튜플 요소 반복

In [26]:
tuple = ("One", "Two", "Three")
for i in tuple:
  print(i)

One
Two
Three

* 문자열 요소 반복

In [27]:
string = "keonwoo Park"
for i in string:
  print(i)

k
e
o
n
w
o
o

P
a
r
k

#### range()

In [28]:
sum = 0
for i in range(1, 101):
  sum += i
print(sum)

5050

In [29]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

* 범위 반복 range를 이용한 구구단

In [32]:
for i in range(2,10):
  for j in range(1, 10):
    print("{0} X {1} = {2}".format(i,j,i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

#### _ 기능

In [34]:
for i in range(5):
  print("keonwoo Park")

keonwoo Park
keonwoo Park
keonwoo Park
keonwoo Park
keonwoo Park

In [33]:
for _ in range(5):
  print("keonwoo Park")

keonwoo Park
keonwoo Park
keonwoo Park
keonwoo Park
keonwoo Park

### else 문

* 반복이 종료된 후에 한번 더 실행되는 문장

In [36]:
i = 1
sum = 0
while i <= 10:
  sum += i
  i += 1
else:
  print(sum)

55

In [37]:
sum = 0
for i in range(11):
  sum += i
else:
  print(sum)

55

### break 문

* 반복문 종료

In [39]:
i = 0
while i < 100:
  print(i)
  if i == 10:
    break
  i += 1

0
1
2
3
4
5
6
7
8
9
10

In [40]:
for i in range(100):
  print(i)
  if i ==10:
    break

0
1
2
3
4
5
6
7
8
9
10

### continue 문

* 반복 조건문으로 이동

In [41]:
i = 0
while i < 10:
  i += 1
  if i% 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [42]:
for i in range(10):
  if i % 2 ==0:
    continue
  print(i)

1
3
5
7
9

### 리스트 내포(List Comprehension)

* 리스트 안에 for 문과 if 문 사용

In [48]:
list = [i for i in range(10) if i % 2 == 0]
print(list)
list = [1, 2, 3, 4, 5]
print([i * 2 for i in list])
print([i * 2 for i in range(10) if i % 2==0])

[0, 2, 4, 6, 8]
[2, 4, 6, 8, 10]
[0, 4, 8, 12, 16]

### [Lab] 문자열 반전

* 문자열을 역순으로 만들기

In [50]:
string = "Keonwoo Park"
reverse = ""
for i in string:
  reverse = i + reverse
print(string)
print(reverse)

Keonwoo Park
kraP oownoeK



---

## 에러와 예외(Errors and Exceptions)

* 프로그램에서는 에러가 발생
* 에러에 대한 예외 처리가 필요

### 에러 예제

* ZeroDivisionError

In [51]:
10 / 0

ZeroDivisionError: ignored

* NameError

In [52]:
noname + 3

NameError: ignored

* TypeError

In [53]:
string = "String"
string /1

TypeError: ignored

* ValueError

In [54]:
int("String")

ValueError: ignored

### 예외 처리(Exception Handling)

#### try, except 문

* try 문을 통해 예외 발생 가능한 코드에 정의
* except 문을 이용해 예외 처리 방법을 정의

In [55]:
try:
  print(2 / 0)
except:
  print("Error")

Error

#### 에러 분류에 따른 except 문

* `ZeroDivisionError`에 대한 except 처리

In [56]:
try:
  print(2 / 0)
except ZeroDivisionError:
  print("ZeroDivisionError: 분모에 0이 있습니다~")

ZeroDivisionError: 분모에 0이 있습니다~

#### 에러 메시지가 포함된 except 문

* `ZeroDivisionError`에 포함된 에러 메시지 `e`를 출력

In [57]:
try:
  print(2/ 0)
except ZeroDivisionError as e:
  print(e)

division by zero

#### 여러 에러 분류가 포함된 except 문

In [60]:
try:
  n = int(input("입력:"))
  result = 1 / n
except ZeroDivisionError as e:
  print(e)
except ValueError as e:
  print(e)
else:
  print("결과: "+ str(result))

입력:0
division by zero

### 에러 발생

#### raise 문

* 직접적으로 에러를 발생시킬 수 있음
* 에러의 종류와 에러 상황을 정의하고 발생

In [61]:
raise ZeroDivisionError("숫자를 0으로 나눴어요")

ZeroDivisionError: ignored

In [62]:
raise NameError("지역 또는 전역 변수에서 이름을 찾을 수 없습니다.")

NameError: ignored

In [63]:
raise TypeError("연산이나 함수가 부적절한 형의 객체에 적용")

TypeError: ignored

In [64]:
raise ValueError("연산이나 함수가 부적절한 값을 인자로 받음")

ValueError: ignored

#### assert 문

* raise 문과 달리 주로 검증을 위한 목적으로 작성
* 상태를 검증하는 목적으로 작성되며 검증식이 포함됨
* 검증식이 `False`일 경우 `AssertionErro` 발생

In [65]:
assert True

In [66]:
assert False

AssertionError: ignored

In [67]:
assert False, "에러 메시지"

AssertionError: ignored

In [68]:
b = 0
assert b != 0, "상태에 따라서 발생"

AssertionError: ignored